server:
  port: 8917
spring:
  application:
    name: common-admin
  boot:
    admin:
      client:
        url: http://localhost:8917
      monitor:
        status-lifetime: 180000
        default-timeout: 120000
management:
  endpoints:
    web:
      exposure:
        include: '*'
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    registry-fetch-interval-seconds: 5
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    lease-expiration-duration-in-seconds: 5
    lease-renewal-interval-in-seconds: 5
    prefer-ip-address: true
ribbon:
  ServerListRefreshInterval: 3000
  ReadTimeout: 10000
  ConnectTimeout: 5000
logging:
  level:
    com.insight: info
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger{35}: %msg%n'
